*{margin: 0; padding: 0}
body {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrap{
	width: 60%;
	margin: 2%;
}
.wrapTitle {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	color: #000;
	font-weight: bold;
}
.wrapName {
	padding-top: 5px;
}
.wrapName_test {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
	color: #2D7DD2;
}
.contentTitle {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.test_data {
	border: 5px solid #f3f3f3;
	padding: 15px;
	margin: 0 0 2% 0;
}
.q {
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.a {
	padding: 5px 0;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.question {
	display: none;
}
.pagination{
	margin: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pagination a{
	border: 1px solid #ddd;
	padding: 10px 14px;
	text-decoration: none;
	background: #fff;
	color: #2D7DD2;
	margin: 4px;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.pagination a:hover{
	background: #eee;
}
.pagination > a.nav-active{
	background: #2D7DD2;
	color: #fff;
	border-color: #2D7DD2;
	cursor: default;
}
.center{
	display: block;
	margin: auto;
	text-align: center;
}

button.btn{
	border: 3px solid #ccc;
	padding: 10px 25px;
	text-decoration: none;
	background: #dcdcdc linear-gradient(#fff, #dcdcdc);
	color: #000;
	cursor: pointer;
	transition: all .3s;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button.btn:hover{
	background: #dcdcdc linear-gradient(#dcdcdc, #fff);
	box-shadow: 0 0 2px #aaa;
}
.none{display: none;}

.count-res{
	margin: 0 0 2% 0;
	border-bottom: 1px dotted #ccc;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.question-res{
	margin: 0 0 1% 0;
	padding: 5px;
	border: 1px dotted #ccc;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.ok{
	border: 1px dotted rgb(149, 255, 0);
	background: rgb(241, 252, 242);
	color: black;
	/*color: rgb(93, 194, 72);*/
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.error{
	border: 1px dotted rgb(255, 0, 0);
	background: rgb(252, 239, 239);
	color: black;
	/*color: rgb(212, 117, 117);*/
	font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.ok2{
	color: green;
}
.error2{
	text-decoration: line-through;
	color: red;
}
.sertificTitle {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	display: flex;
	justify-content: center;
}
